/*
FLOW
Wrapping row of children with ideal widths; children expand to fill space
More: https://piccalil.li/quick-tip/flow-utility
*/
.flow {
  display: flex;
  flex-wrap: wrap;
}

.flow > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: var(--ideal-width, 30ch);
}