ul li.board-member {
  padding-bottom: var(--space-m);
}

.board-member {

  &__bio > *:last-child {
    margin-bottom: var(--space-m);
  }

  &__state {
    display: inline;
  }

  &__title {
    display: inline;
  }
}