.button {
  align-items: center;
  background-color: var(--color-accent-secondary);
  border: none;
  box-shadow: var(--shadow-s);
  color: var(--color-background);
  cursor: pointer;
  display: flex;
  padding: var(--space-s) var(--space-m);
  text-decoration: none;
  transition: box-shadow var(--timing-fast);

  &:hover {
    box-shadow: var(--shadow-m);
  }

  svg {
    margin-left: 6px;
    width: 20px;
  }
}
