
.footer {
  border-top: solid 1px var(--color-accent-light);
  font-size: var(--font-size-s);
  margin-top: var(--space-xxxl);
  padding: var(--space-xl) 0;


  &__hosted-by {
    img {
      width: 100px;
      height: auto;
    }
  }

  &__links {
    a {
      padding-right: var(--space-s);

      &:not(:last-child):after {
        color: var(--color-accent-light);
        content: "|";
        padding-left: var(--space-s);
      }
    }
  }

  &__title {
    font-family: var(--font-title);
    font-size: var(--font-size-m);
  }
}