.header {
  border-bottom: solid .5px var(--color-accent-secondary);
  margin-top: var(--space-xxxl);
  margin-bottom: var(--space-xl);
  /* padding: var(--space-l); */

   @media (min-width: 768px) {
     margin-top: 0;
   }
}

