.image-inset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;

  figure {
    max-width: 300px;
  }
}

.image-inset--no-max {
  figure {
    max-width: unset;
  }
}

.image-inset--large {
  figure {
    max-width: 220px;
  }
}

.image-inset .single {
  height: auto;
  max-width: none;
  width: 100%;
}

.image-inset__heading {
  margin-top: 26px;
  text-align: center;
  max-width: 900px;
}
