.nav-quick {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-l) 0;
  font-weight: bolder;

  ul {
    display: flex;
  }

  &__item {
    margin-left: var(--space-l);
  }

  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }
}
