.nav-quick {
  display: flex;
  justify-content: flex-end;
  padding: var(--space-l) 0;

  ul {
    align-items: center;
    display: flex;
  }

  .nav-quick__item {
    margin-left: var(--space-l);
  }

  a {
    align-items: center;
    display: flex;
    text-decoration: none;

    svg {
      margin-left: 6px;
      width: 16px;
    }
  }
}
