.nav {
  --button-bar-height: 50px;
  --link-list-p: var(--space-l);
  --p-t: calc(var(--button-bar-height));
  --p-b: var(--space-l);
  --section-title-border: solid 1px var(--color-accent-light);
  --nav-position: fixed;
  --nav-transform: translateX(-100vw);
  --nav-list-padding: calc(var(--link-list-p, 0) + var(--p-t)) var(--link-list-p, 0) var(--link-list-p, 0);
  --quick-display: block;
  
  @media (min-width: 1008px) {
    --p-t: 0;
    --p-b: 0;
    --section-title-border: none;
    --nav-position: static;
    --nav-transform: none;
    --nav-list-padding: 0;
    --quick-display: none;

    align-self: flex-start;
    position: sticky;
    top: var(--space-l);
  }

  /* padding: var(--p-t) var(--space-l) var(--p-b) 0; */


  &__button-bar {
    align-items: center;
    background-color: var(--color-background);
    box-shadow: var(--shadow-s);
    display: flex;
    height: var(--button-bar-height);
    justify-content: space-between;
    left: 0;
    padding: 0 var(--space-l) 0 calc(var(--space-l) - 6px);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    header {
      font-family: var(--font-title);
      font-size: 20px;
      padding-left: var(--space-s);

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__link-list {
    background-color: var(--color-background);
    bottom: 0;
    left: 0; 
    overflow: auto;
    padding: var(--nav-list-padding) !important;
    position: var(--nav-position);
    right: 0;
    top: 0;
    transform: var(--nav-transform);
    transition: transform var(--timing-fast) var(--timing-function);
    z-index: 2;

    &.in {
      transform: translateX(0);
    }

  }

  &__logo {
    max-width: 150px;
    margin-bottom: var(--space-l);

    img {
      height: auto;
    }
  }

  &__section-title {
    border-bottom: var(--section-title-border);
    font-weight: bolder;
    margin-bottom: var(--space-s);
    text-transform: uppercase;
  }

  &__social {
    display: flex;
    gap: var(--space-s);

    svg {
      width: 50px;

      &[id*='Facebook'] {
        width: 56px;
      }
    }
  }

  &__toggle {
    background-color: var(--color-background);
    border: none; 
    color: var(--color-accent-secondary);
    height: 50px;
    padding: var(--space-s) var(--space-s) var(--space-s) 0;
    width: 50px;
  }

  .active {
    font-weight: 600;
    color: var(--color-accent-secondary);

    &:before {
      content: "\27A5";
    }
  }

  .nav-quick {
    display: var(--quick-display);
    padding: 0;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    & .nav-quick__item {
      margin-left: 0;
    }
  }
}
