<script defer src="/messages.js"></script>

{% markdown %}
  {%- render "content/messages-intro.md" -%}
{% endmarkdown %}

<div class="messages">
  <section class="messages__post-form">
    <form id="post-form" class="hidden">
      <label>Name: <input required type="text" name="name" required /></label>
      <label>Email: <input required type="email" name="email"/></label>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <div>
        <button type="submit">Submit</button>
        <button type="reset">Cancel</button>
      </div>
    </form>
    <button aria-expanded="false" aria-controls="post-form" class="button">Post a message</button>
  </section>
</div>