<header class="header {{text-align}}">
  {% if src %}
    <div class="background-image {% if darken %}darken{% endif %}">
      {% assign path = "./images/" | append: src %}
      {% image path, "", "100vw" %}
    </div>
  {% endif %}
  <div class="header__content">
    <h1>{{ title }}</h1>
  </div>
</header>