{% assign imagesString = "reunion_2017_1.jpg,Harlan_Cabin_Summer.jpg,reunion_2017_2.jpg" %}

{% assign imagesString = "reunion_2017_2.jpg,Harlan_Cabin_Summer.jpg,JacobWrightHarlan1.jpg,Gideon_Gilpin_House.jpg" %}
{% assign images = imagesString | split: "," %}

<header class="hero">
  {% for image in images %}
  <div class="hero__image">
    {% assign path = "./images/" | append: image %}
    {% image path, "", "50vw", undefined, "eager" %}
  </div>
  {% endfor %}
  <div class="hero__content">
    <h1>{{ title | default: siteTitle }}</h1>
  </div>
</header>