<div aria-modal="true" class="modal hidden" role="dialog">
  <button class="modal__close">
    <span>{{ '/_includes/icons/cross.svg' | svgContents }}</span>
  </button>
  <div class="modal__content"></div>
</div>
