<nav class="nav-quick">
  <ul class="reset nav-quick__list">
    {% for item in data %}
      <li class="nav-quick__item">
        {% assign iconPath = '/_includes/icons/' | append: item.icon %}
        {% if item.key == '/donate.html'%}
          {% assign classes = "button" %}
        {% else %}
          {% assign classes = "link" %}
        {% endif %}
        <a class="{{classes}}" href={{item.key}}>{{item.title}}{% unless item.icon == empty %}{{ iconPath | svgContents }}{% endunless %}</a>
      </li>
    {% endfor %}
  </ul>
</nav>