<form action="https://duckduckgo.com/" method="get" class="search stack">
    <label for="search-term" class="sr-only">Search terms:</label>
    <input type="search" name="q" id="search-term" class="input" autocomplete="off">
    <input aria-hidden="true" hidden name="sites" value="{{ meta.url }}">
    <button type="submit" class="button">Search {{ '/_includes/icons/search.svg' | svgContents}}</button>
</form>