---
title: News and Updates
pagination:
  alias: posts
  data: collections.post
  size: 10
  reverse: true
---

  {% for post in posts %}
    <article class="article stack">
      <h2>{{post.data.title}}</h2>
      <p><span class="italic">{% prettyDate post.data.date %}</span> {%comment%}| <span class="italic">{{post.data.description}}</span>{% endcomment %}</p>
      {{post.templateContent}}
    </article>
  {% endfor %}

{% comment %}
{% render 'pagination', pagination: pagination %}

{% endcomment %}