{% assign people = ninety | sort: "lastName" %}


<div class="stack">

{% markdown %}
  {%- render "content/ninety-intro.md" -%}
{% endmarkdown %}

{% for person in people %}
  <p><strong class="name">{{person.firstName}} {{person.lastName}} </strong>{{person.bio}}</p>
{% endfor %}
<style>
.name {
  text-transform: capitalize;
}
</style>
</div>