<div class="with-sidebar with-sidebar" data-state="right desktop">
  {% markdown %}
  {%- render 'content/homepage.md' -%}
  {% endmarkdown %}
  {% render 'newsfeed', posts: collections.post, events: events %}
</div>
