<!DOCTYPE html>
<html lang="en">
    {% include'head', description: description, meta: meta, page: page, title: title %}
    <body class="page-container">
        <!-- {% include'ie-notice' %}
        {% include'skip-to-content' %} -->
        {% include'back-to-top' %}
        <div class="hidden-medium">
          {% include'navigation-quick', data: navigation_quick %}
        </div>
        <div class="with-sidebar" data-state="desktop">
          {% include'navigation', data: navigation, meta: meta, navigation-quick-data: navigation_quick, page: page, social-media: social_media %}
          <div>
            {% include'header', title: title, siteTitle: meta.title, src: hero.src, darken: hero.darken, text-align: hero.text-align %}
            <main id="main">
                {{ content }}
            </main>
          </div>
        </div>
        {% include'footer', meta: meta, navigation: navigation_quick %}
    </body>
</html>
