@font-face {
  font-family: "Vidaloka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("vidaloka.woff2") format("woff2"),
    url("vidaloka.woff") format("woff");
}

:root {

  /* These values are hard typed for media queries throughout the project
  Use find / replace to change. */
  --breakpoint-xl: 1440px;
  --breakpoint-l: 1008px;
  --breakpoint-m: 768px;
  --breakpoint-s: 576px;
  --breakpoint-xs: 360px;

  --color-jet: #353535;
  --color-ivory: #fffded;
  --color-minsk: #323777;
  --color-red: #c70000;
  --color-silver-sand: #bcbdc0;
  --color-text: var(--color-jet);
  --color-background: var(--color-ivory); 
  --color-accent: var(--color-red); 
  --color-accent-secondary: var(--color-minsk); 
  --color-accent-light: var(--color-silver-sand); 

  --font-body: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-title: "Vidaloka", Georgia, sans-serif;
  --font-size-xl: 4rem;
  --font-size-l: 2rem;
  --font-size-m: 1.5rem;
  --font-size-s: 1.2rem;

  @media (min-width: 768px) {
    --font-size-xl: 6rem;
    --font-size-l: 3rem;
    --font-size-m: 2rem;
    --font-size-s: 1.2rem;
  }

  --shadow-s: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-m: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  --space-s: .8rem;
  --space-m: 1.6rem;
  --space-l: 2.4rem;
  --space-xl: 3.2rem;
  --space-xxl: 6.4rem;
  --space-xxxl: 12.8rem;

  --timing-fast: .2s;
  --timing-medium: .5s;

  --timing-function: ease-out;
}
